{{two}}

<blockquote class="twitter-tweet"  data-lang="en"><p lang="en" dir="ltr">
  <a href="https://twitter.com/hashtag/JavaEE?src=hash">#JavaEE</a> 8 and <a href="https://twitter.com/hashtag/REST?src=hash">#REST</a> demo for young developers <br><br>Get a full app in 15 lines<a href="https://twitter.com/marcomolteni">@marcomolteni</a> <a href="https://t.co/Ocqo6qUmnF">https://t.co/Ocqo6qUmnF</a> <a href="https://t.co/ZNHD0sG3il">pic.twitter.com/ZNHD0sG3il</a></p>&mdash; Java (@java) <a href="https://twitter.com/java/status/860556449595834368">May 5, 2017</a></blockquote>
