<h1 mat-dialog-title>{{getTitle()}}</h1>

<div mat-dialog-content>
  {{getDescription()}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Ok</button>
</div>
