<p>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Array with config!
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-form-field style="width: 80vw">
  <textarea #simpleArrayInput matInput value="{{getJSON(arrayView)}}"
            matTextareaAutosize cols="50">
  </textarea>
    </mat-form-field>
    <button (click)="updateSimpleArray(simpleArrayInput.value)">Update</button>


  </mat-expansion-panel>
<p>
  <app-av-table [dataSet]="arrayData" [configuration]="tableConfiguration"></app-av-table>
</p>
